:root{--color-1:#7158e2;--color-2:#920024;--color-3:#696969;}
.contaner {
    width: 100%;
    position: relative;
    background: #f2f3f5;
    height: 21rem;
    

}
.bannerbox {
    width: 100%;
    display: flex;
    justify-content: center;
    background: red;
}

.contaner img {
    position: absolute;
    right: 57vw;
    top: 0;
    height: 100%;
    z-index: 0;
    opacity: .5;
}

.textContainer {
    position: absolute;
    width: 100%;
    display: block;
    float: right;
    direction: rtl;
    top: 3.2rem;
    font-weight: bold;
}
.textContainer h1 {
    font-size: 4rem;
    color: var(--color-1);
}

.textContainer p {
    font-size: 2rem;
    margin: 20px;
    color:var(--color-3);
}
.textContainer span {
    color: var(--color-1);
}


.contaner a {
    display: inline-block;
    width: 5%;
    text-decoration: none;
    padding: 10px 20px;
    background: rgb(230, 232, 234);
    border-radius: 4px;
    color: #333;
    font-weight: 500;
    margin-right: 10px;
    text-align: center;
    font-family: 'iransansmedium';
    font-size: 16px;
  }
  
  .contaner a:hover {
    background: #7158e2 ;
    color: #fff;
  }

  .signUpbtn {
    background: #7158e2  !important ;
    color: #fff !important;
  }
  .signUpbtn:hover{
    background: #6d57d1  !important ;
  }