.btnmore{
    padding: 10px 0px 10px 0px;
    display: block;
    background: #7158e2;
    width: 100%;
    color: #fff !important;
    overflow: hidden;
    border-radius: 0px 0px 6px 6px;
}

.btnmore a {
    color: #fff !important;
}
